body {
    font-family: Roboto;
    background-image: linear-gradient(to right top, #424644, #434d4b, #425553, #415c5e, #40636b, #39727e, #2b8291, #0092a5, #00b0b5, #00ccb1, #00e799, #14ff6f);
    line-height: 1.8;

}
p {font-size: 16px;
    color: white;
    font-family: Roboto;
}

.margin {margin-bottom: 45px;}
.bg-1 {
border: solid black;
    color: #ffffff;
}
.bg-2 {
    border: solid black;
    color: #ffffff;

}
.bg-3 {
    border: solid black;


}
.bg-4 {
    border: solid black;
    color: #fff;

}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
    position: center;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-image: url("https://mail.google.com/mail/u/0?ui=2&ik=6ff88ac902&attid=0.1&permmsgid=msg-f:1615379542686405576&th=166afb22ab4193c8&view=att&disp=safe");
}
.navbar-nav  li a:hover {
    color: white !important;
    text-align: center;
}
#exalty{

  background-color: black;
}

a{
    color: #000000;
}
#container3{
}
.carousel-inner{
    position: center;
    height: 100%;

    background-position: center;

}
span{
    text-align: center;
    font-family: Roboto;
    color: white;


}
h3{
    font-family: Roboto;
    color: white;

}
#myNavbar{
    color: white;
}
h2{
    color: white;


}
#photo{
    border: solid black;


}
#projet{
    position: relative;
    display: flex;


}
.item{
    position: center;
    align-content: center;

}